# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp

# Exclude the build directory
build/*

# Exclude temp nibs and swap files
*~.nib

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
